In [5]:
#DataFrame的创建方法
import pandas as pd
import numpy as np

#通过series来创建
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])
df = pd.DataFrame({"第一列":s1, "第二列":s2})
print(type(df))
print(type(df['第一列']))
print(df)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
   第一列  第二列
0    1    6
1    2    7
2    3    8
3    4    9
4    5   10

In [14]:
#通过字典创建
df = pd.DataFrame(
    {
        #"id":[1,2,3,4,5],
        "name":['Tom', 'jack', 'alice', 'bob', 'allen'],
        "age":[15, 17, 20,26,30],
        "score":[60.5, 80, 30.5, 22, 100]
    }, index=[1, 2, 3, 4, 5], columns=["name","age", "score"]
)
print(df)

    name  age  score
1    Tom   15   60.5
2   jack   17   80.0
3  alice   20   30.5
4    bob   26   22.0
5  allen   30  100.0

In [19]:
#DataFrame属性
print('行索引')
print(df.index)
print('列标签')
print(df.columns.tolist())
print('值')
print(df.values)

行索引
Int64Index([1, 2, 3, 4, 5], dtype='int64')
列标签
['name', 'age', 'score']
值
[['Tom' 15 60.5]
 ['jack' 17 80.0]
 ['alice' 20 30.5]
 ['bob' 26 22.0]
 ['allen' 30 100.0]]

In [26]:
print('维度:', df.ndim)
print('形状:', df.shape)  #5行3列
print('元素个数', df.size)
print('数据类型')
df.dtypes

维度: 2
形状: (5, 3)
元素个数 15
数据类型

name      object
age        int64
score    float64
dtype: object

In [31]:
#行列转置
print(df.T)
print('--')
print(df.T.index)

          1     2      3     4      5
name    Tom  jack  alice   bob  allen
age      15    17     20    26     30
score  60.5  80.0   30.5  22.0  100.0
--
Index(['name', 'age', 'score'], dtype='object')

In [141]:
#获取元素 loc, iloc, at, iat
#loc:显示索引
print(df.loc[4]) #显示索引 按照设计的位置
print("--")
print(df.iloc[3]) #隐式索引，和上面结果一样

KeyError: 4

In [44]:
#某列

print(df.loc[:, 'name']) # 显式 所有行都要，列要'name'
print(df.iloc[:, 0]) #隐式索引

    name  age  score
1    Tom   15   60.5
2   jack   17   80.0
3  alice   20   30.5
4    bob   26   22.0
5  allen   30  100.0
1      Tom
2     jack
3    alice
4      bob
5    allen
Name: name, dtype: object
1      Tom
2     jack
3    alice
4      bob
5    allen
Name: name, dtype: object

In [47]:
#获取单个数据

df = pd.DataFrame(
    {
        #"id":[1,2,3,4,5],
        "name":['Tom', 'jack', 'alice', 'bob', 'allen'],
        "age":[15, 17, 20,26,30],
        "score":[60.5, 80, 30.5, 22, 100]
    }, index=[1, 2, 3, 4, 5], columns=["name","age", "score"]
)
print(df)

print(df.at[3, 'score'])  #显式
print(df.iat[2, 2]) #隐式

    name  age  score
1    Tom   15   60.5
2   jack   17   80.0
3  alice   20   30.5
4    bob   26   22.0
5  allen   30  100.0
30.5
30.5

In [51]:
#获取单列数据
print(df['name'])
print(type(df['name']))
print(df.name)

1      Tom
2     jack
3    alice
4      bob
5    allen
Name: name, dtype: object
<class 'pandas.core.series.Series'>
1      Tom
2     jack
3    alice
4      bob
5    allen
Name: name, dtype: object

In [54]:
#获取多列数据
print(df[['name', 'score']]) #注意，两个中括号，返回的数据是DataFrame类型

    name  score
1    Tom   60.5
2   jack   80.0
3  alice   30.5
4    bob   22.0
5  allen  100.0

In [57]:
#查看部分数据
print(df.head(2))
print('--')
print(df.tail(2))

   name  age  score
1   Tom   15   60.5
2  jack   17   80.0
--
    name  age  score
4    bob   26   22.0
5  allen   30  100.0

In [61]:
#使用布尔索引进行筛选数据
df[df.score>70]
df[(df.score > 70) & (df.age < 20)]

   name  age  score
2  jack   17   80.0

In [63]:
#随机抽样
df.sample(3)

    name  age  score
1    Tom   15   60.5
5  allen   30  100.0
3  alice   20   30.5

In [66]:
print(df.head(1)) #查看前n行数据，默认5行

  name  age  score
1  Tom   15   60.5

In [74]:
print(df.isin(['jack']))  #查看元素是否包含在参数集合中

print(df['score'].sum())
print(df.score.std()) #标准差
print(df.score.var()) #方差
print(df.describe())

SyntaxError: unexpected EOF while parsing (3472473464.py, line 6)

In [76]:
print(df.count())  #每一列非缺失值的个数

name     5
age      5
score    5
dtype: int64

In [78]:
print(df.sort_index(ascending=False))

    name  age  score
5  allen   30  100.0
4    bob   26   22.0
3  alice   20   30.5
2   jack   17   80.0
1    Tom   15   60.5

In [81]:
print(df.sort_values(by=['score', 'age'],ascending=[False, True]))

    name  age  score
5  allen   30  100.0
2   jack   17   80.0
1    Tom   15   60.5
3  alice   20   30.5
4    bob   26   22.0

In [83]:
#从 df 中选出前 n 个最大值的行，按 col1 为主，col2 为辅 进行降序排序。
print(df.nlargest(2, columns=['score','age']))

    name  age  score
5  allen   30  100.0
2   jack   17   80.0

In [121]:
#练习1：学生成绩分析
# 场景:某班级的学生成绩数据如下，请完成以下任务:
# 1.计算每位学生的总分和平均分。
# 2.找出数学成绩高于90分或英语成绩高于85分的学生。
# 3.按总分从高到低排序，并输出前3名学生。

import pandas as pd
data = {
    '姓名': ['张三', '李四', '王五', '赵六', '钱七'],
    '数学': [85, 92, 78, 88, 95],
    '英语': [90, 88, 85, 92, 80],
    '物理': [75, 80, 88, 85, 90]
}#data是字典


#1.总分和平均分
df = pd.DataFrame(data)
print(df)

#df[['数学','英语','物理']].sum() #默认是竖着求和
df['总分'] = df[['数学','英语','物理']].sum(axis=1)  #横着
df['平均分'] = df['总分'] / 3
df['平均分2'] = df[['数学','英语','物理']].mean(axis=1)
df
#2.找出数学成绩高于90分或英语成绩高于85分的学生。
df[(df['数学'] > 90) | (df['英语'] > 85)]

#3.按总分从高到低排序，并输出前3名学生。
r1 = df.sort_values('总分', ascending=False).head(3)
r2 = df.nlargest(3, columns='总分')

print(r1)
print(r2)

   姓名  数学  英语  物理
0  张三  85  90  75
1  李四  92  88  80
2  王五  78  85  88
3  赵六  88  92  85
4  钱七  95  80  90
   姓名  数学  英语  物理   总分        平均分       平均分2
3  赵六  88  92  85  265  88.333333  88.333333
4  钱七  95  80  90  265  88.333333  88.333333
1  李四  92  88  80  260  86.666667  86.666667
   姓名  数学  英语  物理   总分        平均分       平均分2
3  赵六  88  92  85  265  88.333333  88.333333
4  钱七  95  80  90  265  88.333333  88.333333
1  李四  92  88  80  260  86.666667  86.666667

In [139]:
#练习2：某公司销售数据如下，请完成以下任务：
# 1.	计算每种产品的总销售额（销售额 = 单价 × 销量）。
# 2.	找出销售额最高的产品。
# 3.	按销售额从高到低排序，并输出所有产品信息。

import pandas as pd
data = {
    '产品名称': ['A', 'B', 'C', 'D'],
    '单价': [100, 150, 200, 120],
    '销量': [50, 30, 20, 40]
}

df = pd.DataFrame(data)
print(df)

#1.计算每种产品的总销售额（销售额 = 单价 × 销量）。

df['总销售额'] = df['单价'] * df['销量']
df

#2.找出销售额最高的产品。
r1 = df.sort_values('总销售额',ascending=False).head(1)['产品名称']
print(r1.tolist())

#3.按销售额从高到低排序，并输出所有产品信息。
df.sort_values('总销售额',ascending=False)

  产品名称   单价  销量
0    A  100  50
1    B  150  30
2    C  200  20
3    D  120  40
['A']

  产品名称   单价  销量  总销售额
0    A  100  50  5000
3    D  120  40  4800
1    B  150  30  4500
2    C  200  20  4000