In [6]:
#数据的导入
import pandas as pd
import numpy as np

df = pd.read_csv("/Users/liuyuxin/python_study/analysis/code/data/employees.csv")
#type(df)  #是DataFrame类型


#数据的导出
df = df.tail()
df.to_csv('data/new.csv')

In [8]:
#json数据
df = pd.read_json("data/test.json")
df

                                               users
0  {'id': 1, 'name': '张三', 'age': 28, 'email': 'z...
1  {'id': 2, 'name': '李四', 'age': 35, 'email': 'l...
2  {'id': 3, 'name': '王五', 'age': 24, 'email': 'w...

In [13]:
#缺失值的处理
s = pd.Series([1, 2, np.nan, 3])
print(s)

#查看是否是缺失值
print(s.isna())
print(s.isnull())

0    1.0
1    2.0
2    NaN
3    3.0
dtype: float64
0    False
1    False
2     True
3    False
dtype: bool
0    False
1    False
2     True
3    False
dtype: bool

ValueError: Shape of passed values is (3, 1), indices imply (3, 3)

In [19]:
df = pd.DataFrame([[1, pd.NA, 2], [2, 3, 4], [5, 6, 7]])
print(df.isna())
print("--")
print(df.isnull())
print(df.isna().sum())

       0      1      2
0  False   True  False
1  False  False  False
2  False  False  False
--
       0      1      2
0  False   True  False
1  False  False  False
2  False  False  False
0    0
1    1
2    0
dtype: int64

In [32]:
#处理缺失值
#剔除
s = pd.Series([1, 2, np.nan, 3])
print(s)
print('-'*30)
print(s.dropna())
print('-'*30)

print(df)
print('-'*30)
print(df.dropna()) #剔除一整条的记录
print('-'*30)
print(df.dropna(how='all'))#如果所有的值，都是缺失值，才删除
print('-'*30)
print(df.dropna(thresh=2)) #如果至少有n个值不是缺失值，就保留

0    1.0
1    2.0
2    NaN
3    3.0
dtype: float64
------------------------------
0    1.0
1    2.0
3    3.0
dtype: float64
------------------------------
   0     1  2
0  1  <NA>  2
1  2     3  4
2  5     6  7
------------------------------
   0  1  2
1  2  3  4
2  5  6  7
------------------------------
   0     1  2
0  1  <NA>  2
1  2     3  4
2  5     6  7
------------------------------
   0     1  2
0  1  <NA>  2
1  2     3  4
2  5     6  7

In [39]:
#填充
df = pd.read_csv('data/weather_withna.csv')
df.isna().sum(axis=0)
#print(df.fillna({'temp_max':20, 'wind':2.5})) #index值列名，后面是要填充的值
#print(df.fillna(df[['wind']].mean().tail()))  #使用统计值来填充

print(df.ffill().tail()) #front用前面的添加
print(df.bfill().tail()) #用后面的相邻值填充

            date  precipitation  temp_max  temp_min  wind weather
1456  2015-12-27            0.0      11.1       4.4   4.8     sun
1457  2015-12-28            0.0      11.1       4.4   4.8     sun
1458  2015-12-29            0.0      11.1       4.4   4.8     sun
1459  2015-12-30            0.0      11.1       4.4   4.8     sun
1460  2015-12-31           20.6      12.2       5.0   3.8    rain
            date  precipitation  temp_max  temp_min  wind weather
1456  2015-12-27           20.6      12.2       5.0   3.8    rain
1457  2015-12-28           20.6      12.2       5.0   3.8    rain
1458  2015-12-29           20.6      12.2       5.0   3.8    rain
1459  2015-12-30           20.6      12.2       5.0   3.8    rain
1460  2015-12-31           20.6      12.2       5.0   3.8    rain

In [44]:
import pandas as pd

data = {
    "name": ['alice', 'alice', 'bob', 'alice', 'jack', 'bob'],
    "age": [26, 25, 30, 25, 35, 30],
    "city": ['NY', 'NY', 'LA', 'NY', 'SF', 'LA']
}

df = pd.DataFrame(data)
df

    name  age city
0  alice   26   NY
1  alice   25   NY
2    bob   30   LA
3  alice   25   NY
4   jack   35   SF
5    bob   30   LA

In [47]:
df.duplicated() #检测重复(一整条记录都是一样的，标记为重复，返回true)
df.drop_duplicates() #去除重复(整条)

    name  age city
0  alice   26   NY
1  alice   25   NY
2    bob   30   LA
4   jack   35   SF

In [50]:
df.drop_duplicates(subset=['name']) #自定义按照列去重
df.drop_duplicates(subset=['name'], keep='last')  #保留最后出现的行

    name  age city
3  alice   25   NY
4   jack   35   SF
5    bob   30   LA

In [54]:
#数据类型的转换
df = pd.read_csv("data/sleep.csv")
df.dtypes

person_id                    int64
gender                      object
age                          int64
occupation                  object
sleep_duration             float64
sleep_quality              float64
physical_activity_level      int64
stress_level                 int64
bmi_category                object
blood_pressure              object
heart_rate                   int64
daily_steps                  int64
sleep_disorder              object
dtype: object

In [58]:
df['age'] = df['age'].astype('int16') #转换数据类型
df['gender'] = df['gender'].astype('category')
df.dtypes
df.gender

0        Male
1      Female
2        Male
3        Male
4        Male
        ...
395    Female
396    Female
397    Female
398    Female
399      Male
Name: gender, Length: 400, dtype: category
Categories (2, object): ['Female', 'Male']

In [68]:
# 数据变形
import pandas as pd

data = {
    'ID': [1, 2],
    'name': ['alice', 'bob'],
    'Math': [90, 85],
    'English': [88, 92],
    'Science': [95, 89]
}

df = pd.DataFrame(data)
#宽表转换成长表
df
#列表中是不动的
df2 = pd.melt(df, id_vars=['ID','name'], var_name='科目', value_name='分数')
df2.sort_values('name')

   ID   name       科目  分数
0   1  alice     Math  90
2   1  alice  English  88
4   1  alice  Science  95
1   2    bob     Math  85
3   2    bob  English  92
5   2    bob  Science  89

In [71]:
#长表转宽表
pd.pivot(df2, index=['ID', 'name'], columns='科目', values='分数')

科目        English  Math  Science
ID name
1  alice       88    90       95
2  bob         92    85       89

In [78]:
data = {
    'ID': [1, 2],
    'name': ['alice smith', 'bob smith'],
    'Math': [90, 85],
    'English': [88, 92],
    'Science': [95, 89]
}

df = pd.DataFrame(data)
df

#分列
df[['first','last']] = df['name'].str.split(" ",expand=True)  #按照空格分隔开

In [86]:
df = pd.read_csv('data/sleep.csv')
#处理血压值
df = df[['person_id', 'blood_pressure']]
df[['高压','低压']] = df['blood_pressure'].str.split("/", expand=True)
df['高压'] = df['高压'].astype('int64')
df['低压'] = df['低压'].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   person_id       400 non-null    int64
 1   blood_pressure  400 non-null    object
 2   高压              400 non-null    int64
 3   低压              400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [88]:
#数据分箱 pd.cut(x, bins, labels)
import pandas as pd
df = pd.read_csv('data/employees.csv')
df.head(10)

,employee_id,first_name,last_name,email,phone_number,job_id,salary,commission_pct,manager_id,department_id
0,100,Steven,King,SKING,515.123.4567,AD_PRES,24000.0,NaN,NaN,90.0
1,101,N_ann,Kochhar,NKOCHHAR,515.123.4568,AD_VP,17000.0,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,AD_VP,17000.0,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,IT_PROG,9000.0,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,IT_PROG,6000.0,NaN,103.0,60.0
5,105,David,Austin,DAUSTIN,590.423.4569,IT_PROG,4800.0,NaN,103.0,60.0
6,106,Valli,Pataballa,VPATABAL,590.423.4560,IT_PROG,4800.0,NaN,103.0,60.0
7,107,Diana,Lorentz,DLORENTZ,590.423.5567,IT_PROG,4200.0,NaN,103.0,60.0
8,108,Nancy,Greenberg,NGREENBE,515.124.4569,FI_MGR,12000.0,NaN,101.0,100.0
9,109,Daniel,Faviet,DFAVIET,515.124.4169,FI_ACCOUNT,9000.0,NaN,108.0,100.0

In [90]:
df1 = df.head(10)[['employee_id', 'salary']]
df1

   employee_id   salary
0          100  24000.0
1          101  17000.0
2          102  17000.0
3          103   9000.0
4          104   6000.0
5          105   4800.0
6          106   4800.0
7          107   4200.0
8          108  12000.0
9          109   9000.0

In [94]:
pd.cut(df1['salary'], bins=2)  #分2段
#4180~14100~24000
pd.cut(df1['salary'], bins=3).value_counts()

(4180.2, 10800.0]     6
(10800.0, 17400.0]    3
(17400.0, 24000.0]    1
Name: salary, dtype: int64

In [102]:
#自定义分箱区间
df1['收入范围'] = pd.cut(df1['salary'], bins=[0,10000,20000,30000], labels=['低','中','高'])

pd.qcut(df1['salary'], 3).value_counts()

(4199.999, 6000.0]    4
(6000.0, 12000.0]     3
(12000.0, 24000.0]    3
Name: salary, dtype: int64

In [114]:
#睡眠数据
df = pd.read_csv('data/sleep.csv')
df = df.head(10)
df['睡眠质量'] = pd.cut(df['sleep_quality'], bins=3, labels=['低', '中', '高'])
df['睡眠质量'].value_counts()

中    5
低    3
高    2
Name: 睡眠质量, dtype: int64

In [117]:
#修改列名
df.rename(columns={'age':'年龄'}, inplace=True)
df

,person_id,gender,年龄,occupation,sleep_duration,sleep_quality,physical_activity_level,stress_level,bmi_category,blood_pressure,heart_rate,daily_steps,sleep_disorder,睡眠质量
0,1,Male,29,Manual Labor,7.4,7.0,41,7,Obese,124/70,91,8539,None,中
1,2,Female,43,Retired,4.2,4.9,41,5,Obese,131/86,81,18754,None,低
2,3,Male,44,Retired,6.1,6.0,107,4,Underweight,122/70,81,2857,None,低
3,4,Male,29,Office Worker,8.3,10.0,20,10,Obese,124/72,55,6886,None,高
4,5,Male,67,Retired,9.1,9.5,19,4,Overweight,133/78,97,14945,Insomnia,高
5,6,Female,47,Student,6.1,6.9,24,4,Normal,123/60,87,9485,None,中
6,7,Male,22,Office Worker,5.1,6.1,26,6,Obese,121/70,66,15680,None,中
7,8,Male,49,Office Worker,10.7,6.2,49,8,Obese,134/87,59,18767,None,中
8,9,Male,25,Manual Labor,11.9,7.2,27,8,Underweight,112/63,99,16397,Sleep Apnea,中
9,10,Female,51,Retired,8.2,4.0,64,5,Overweight,125/84,76,12744,None,低

In [120]:
#时间数据的处理
import pandas as pd
d = pd.Timestamp('2015-05-02 10:22') #时间戳
print("年", d.year)

年 2015

In [122]:
#字符串转换为日期类型
a = pd.to_datetime("2020-01-01 10:11")
print(a)
print(type(a))

2020-01-01 10:11:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [124]:
import pandas as pd

df = pd.DataFrame({
    'sales': [100, 200, 300],
    'date': ['20250601', '20250602', '20250603']
})

#将字符串转成时间戳，并且加入到原来的df中
df['datetime'] = pd.to_datetime(df['date'])

df

   sales      date   datetime
0    100  20250601 2025-06-01
1    200  20250602 2025-06-02
2    300  20250603 2025-06-03